.App {
  text-align: center;
  height: 100vh;
}

body {
  /* background: linear-gradient(#D8E1E8, #fff) no-repeat;  OLD*/
  background-image: url("/p5.png");
  background-repeat: repeat;
  font-family: 'Open Sans', sans-serif;
}

.match-card {
  color: black;
}

.match-card:hover {
  transition: 0s;
  transform: translateY(-1px);
  transition-timing-function: linear;
  color: rgb(43, 149, 214) !important;
  cursor: pointer;
}

.circular-btn {
  /* border-radius: 0;
  border: none; */
}

.card, .navbar {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3em;
  border: none;
}

.btn {
  border-radius: 0.3em;
}

.score {
  transition: 0.2s;
  transform: translateY(-2px);
  transition-timing-function: ease-in;
}

.nav-link:hover{
  transition: 0.2s;
  transform: translateY(-2px);
  transition-timing-function: ease-in;
  color: #9E2B0E !important;
  cursor: pointer;
}

.move-on-hover:hover{
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-5px);
  transition-timing-function: ease-in;
}

.app-content{
  padding-top: 5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn-grad-primary {
  border: none;
  background: #00B4DB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-grad-secondary {
  border: none;
  background: #F2994A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.btn-grad-delete {
  border: none;
  background: #e52d27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b31217, #e52d27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b31217, #e52d27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}