.App {
  text-align: center;
  height: 100vh;
}

body {
  background: linear-gradient(#D8E1E8, #fff) no-repeat;
}

.circular-btn {
  /* border-radius: 0;
  border: none; */
}

.card, .navbar {
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0em;
  border: none;
}

.btn {
  border-radius: 0em;
}
.navbar {
  margin: 0.3em;
}

.nav-link:hover{
  transition: 0.2s;
  transform: translateY(-2px);
  transition-timing-function: ease-in;
  color: #9E2B0E !important;
  cursor: pointer;
}

.move-on-hover:hover{
  cursor: pointer;
  transition: 0.2s;
  transform: translateY(-5px);
  transition-timing-function: ease-in;
}

.app-content{
  padding-top: 5em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}